div.menu {
  height: 100%;
  background: var(--solid-main-background);
  & > div.main-row {
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
    display: grid;
    & > div.menu.icon {
      & > img {
        filter: var(--chosen-drop-shadow);
      }
    }
  }

