div.menu {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--solid-main-background);
  & > div {
    justify-items: center;
    align-items: center;
    display: grid;
  }
  & > div.main-row {
    grid-template-columns: auto 1fr auto;
    & > div.header {
      display: grid;
      gap: var(--the-padding);
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;
      & > div.button {
        filter: var(--chosen-drop-shadow);
      }
    }
    & > div.header.found {
      & > div:not(.button) {
        font-size: 1.2em;
        filter: var(--chosen-drop-shadow);
      }
    }
    & > div.menu.icon {
      & > img {
        filter: var(--chosen-drop-shadow);
      }
    }
    & > div.menu.icon.found {
      & > img {
        filter: var(--error-drop-shadow);
      }
    }
  }
  & > div.minor-row {
    grid-template-columns: auto 1fr auto auto;
    padding: var(--the-padding);
    gap: var(--the-padding);
    & > div.label {
      display: grid;
      line-height: 1em;
      text-align: right;
      grid-auto-flow: row;
      & > div.cancel.button {
        filter: var(--error-drop-shadow);
        text-align: center;
      }
    }
    & > div.badge.icon {
      padding: 0;
      overflow: hidden;
      margin: var(--the-padding);
    }
  }

