.wrapper {
  & > .center {
    display: grid;
    width: min(75vw, 400px);
    padding: var(--the-big-padding);
    grid-template-rows: auto 1fr;
    box-shadow: var(--the-box-shadow);
    border-radius: var(--the-border-radius);
    background-color: var(--modal-background);

    & > .search {
      height: 2em;
      border: none;
      font-size: 100%;
      line-height: 1em;
      background: none;
      box-shadow: var(--the-box-shadow);
      padding-top: var(--the-padding);
      padding-left: var(--the-big-padding);
      font-family: var(--thin-font-family);
      border-radius: var(--the-border-radius);
    }
    & > .search:focus-visible {
      box-shadow: var(--chosen-box-shadow);
      border-radius: var(--the-border-radius);
      font-family: var(--thick-font-family);
      outline: none;
      border: none;
    }

    & > .results {
      margin: var(--the-padding);
      padding: var(--the-big-padding);
      border-radius: var(--the-border-radius);
      background-color: var(--white-background);
      max-height: 10em;
      overflow: scroll;

      & > div {
        border-bottom: 2px solid white;
        grid-template-columns: 64px 1fr auto;
        grid-template-rows: 64px;
	justify-items: center;
        align-items: center;
	line-height: 0.75em;
        display: grid;

        & > img {
          filter: var(--the-drop-shadow);
          max-height: 64px;
        }

        & > div > .accept {
          cursor: pointer;
          padding: var(--the-big-padding);
          box-shadow: var(--the-box-shadow);
          border-radius: var(--the-border-radius);
          background-color: var(--major-background);
        }
      }
    }
  }
}
